*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, 
button:active, 
button:focus {
    outline: none;
}

/* Header */

header{
    background: url('../img/header-bg.png') no-repeat;
    background-size:cover;
    position: relative;
}

.overlay{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    opacity: .75;
}

header .header__navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 163px;
}

header .header__logo{
    display: flex;
}

header .header__logo .header-logo__title{
    font-family: 'Roboto', sans-serif;
    width: 73px;
    height: 29px;
    color: #25beca;
    margin-left: 11px;
    font-size: 30px;
    font-weight: 200;
}

header .header__nav ul{
    height: 100%;
    display: flex;
    list-style: none;
    justify-content:space-between;
    align-items: center;
    margin: 0;
}

header .header__nav ul li a {
    width: 526px;
    height: 9px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.33px;
    text-decoration: none;
    transition: all .2s;
    -moz-user-select: none;
    -webkit-user-select: none;
}

header .header__nav ul li a:hover{
    color:#10d3d0;
}

.header__content{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-content__slogan{
    width: 510px;
    height: 31px;
    color: #ffffff;
    font-family: "Playfair Display - Black";
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.32px;
}

.header__content .line{
    height: 1px;
    width: 50px;
    background-color:#00e0d0;
    margin: 10px auto 15px;
    
}

.header-content__text{
    font-family: 'Roboto', sans-serif;
    width: 771px;
    height: 62px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 50px;
}



.btn{
    padding:10px 15px;
    border: 1px solid #00e0d0;
    text-transform: uppercase;
    color:#00e0d0;
    font-weight: 700;
    background:none;
    margin-bottom: 207px;
    transition: all .2s linear;
}

.btn:hover{
    color:#fff;
    background:#00e0d0;
}

.header__slider{
    width: 100%;
}

.header-slider__wrapper{
    overflow: hidden;
}

.header-slider__inner{
    display: flex;
    justify-content: space-between;
    transition: all 1s; 
}

.header-slider__item{
    width: 100%;
}

.slider__indicators{
    display: flex;
    justify-content: space-between;
    width: 54px;
    margin: 0 auto;
    list-style: none;
}

.slider-indicators__item{
    position: relative;
    bottom:40px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #c2c2c2;
    border-radius: 50%;
}
.slider-indicators__item.active{
    background:#00e0d0;
    border: 1px solid #00e0d0;
}

/* End of Header ---------------- */
/* Story section----------------- */
.story .story__wrapper{
    display: flex;
    padding: 70px 0 103px;
    justify-content: space-between;
}

.story__img img{
    width: 235px;
    height: 229px;
    margin-left: 85px;
}

.story__title{
    font-family: 'Playfair Display';
    font-size:22px;
    letter-spacing: 1.1px;
    margin-bottom: 25px;
}

.story__text{
    opacity: 0.75;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    margin-bottom: 31px;
}

/* End of Story block */

.video{
    position: relative;
    background: url('/src/assets/img/video-bg.png') no-repeat;
    background-size: cover;
    height:550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video__play{
    width: 100px;
    height: 100px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items:center;
    justify-content: center;
}

.video__play img{
    margin-left: 8px;
}

.video__text{
    position: relative;
    top:80px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.8px;
    font-family: 'Roboto';
    color: #ffffff;
}

.video__overlay{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    justify-content: center;
    align-items:center
}

.video__overlay .close{
    position: relative;
    bottom:15px;
    left:10px;
    color:#ffffff
}


  







