*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, 
button:active, 
button:focus {
    outline: none;
}

.row{
    margin: 0;
}

/* Header */

header{
    background: url('../img/header-bg.png') no-repeat;
    background-size:cover;
    position: relative;
}

.overlay{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    opacity: .75;
}

header .header__navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 163px;
    align-items: center;

}


.burger{
    display: none;
    width: 20px;
    height: 20px;
    position: relative;
    flex-direction: column;
    justify-content:space-around;
    z-index: 1000;
}

header .burger.closes span:nth-child(1){
    transform: translate(0px, 5px) rotate(45deg);
    
}

header .burger.closes span:nth-child(2){
    transform: scale(0)
}

header .burger.closes span:nth-child(3){
    transform: translate(0px, -8px) rotate(-45deg);
   

}

.burger span{
    height: 3px;
    background-color:#fff;
    transition: all .2s;
    display: block;
}

.close-menu{
    position: absolute;
}

.menu {
    display: none;
    position: absolute;
    top: 40%;
    left: 110%;
    transition: all .2s ease;
    z-index: 1111;
}

.menu.active{

    left: 80%;
}

#menu ul{
    list-style: none;
}

#menu ul li a{
    text-decoration:none;
    color:#fff;
    transition:color .2s ease

}

#menu ul li a:hover{
    color:#10d3d0;
}

header .container{
    overflow: hidden;
}

header .header__logo{
    display: flex;
}

.header-logo__title{
    font-family: 'Roboto', sans-serif;
    width: 73px;
    height: 29px;
    color: #25beca;
    margin-left: 11px;
    font-size: 30px;
    font-weight: 200;
}

header .header__nav ul{
    height: 100%;
    display: flex;
    list-style: none;
    justify-content:space-between;
    align-items: center;
    margin: 0;
}

header .header__nav ul li a {
    width: 526px;
    height: 9px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.33px;
    text-decoration: none;
    transition: all .2s;
    -moz-user-select: none;
    -webkit-user-select: none;
}

header .header__nav ul li a:hover{
    color:#10d3d0;
}

.header__content{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-content__slogan{
    color: #ffffff;
    font-family: "Playfair Display - Black";
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.32px;
}

.line{
    height: 2px;
    width: 50px;
    
}

.line-header{
    background-color:#00e0d0;
    margin: 10px auto 15px;
}

.header-content__text{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width:100%;
    text-align: center;
    margin: 0 auto 50px;
    letter-spacing: 0.7px;
    padding: 0 172px;
}

.header-content__btn{
    margin-bottom: 127px;
}



.btn{
    padding:10px 15px;
    border: 1px solid #00e0d0;
    text-transform: uppercase;
    color:#00e0d0;
    font-weight: 700;
    background:none;
    transition: all .2s linear;
    border-radius:0;
    outline: none;
}

.header-content__btn a{
    text-decoration: none;
    color:#00e0d0;
}

.btn:hover{
    background:#00e0d0;
    color:#fff;
}

.btn:hover a{
    color:#fff;
}

/* Modal */



/* Slick */

header .slick-track{
    display: flex;
}

header .slick-arrow{
    position:absolute;
    z-index:10000
}

header .slick-dots{
    display: flex;
    justify-content: space-between;
    width: 54px;
    margin: 0 auto;
    list-style: none;
    margin-bottom: 70px;
}

header .slick-dots li button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color:transparent;
    border: 1px solid #c2c2c2;
    border-radius: 50%;
    position: relative;
}

header .slick-dots li.slick-active button{
    background:#00e0d0;
    border: 1px solid #00e0d0;

}



.header__slider{
    width: 100%;
}

.header-slider__wrapper{
    overflow: hidden;
}

.header-slider__item{
    width: 100%;
    text-align: center;
}

.slider__indicators{
    display: flex;
    justify-content: space-between;
    width: 54px;
    margin: 0 auto;
    list-style: none;
}

.slider-indicators__item{
    position: relative;
    bottom:40px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #c2c2c2;
    border-radius: 50%;
}
.slider-indicators__item.active{
    background:#00e0d0;
    border: 1px solid #00e0d0;
}

/* End of Header ---------------- */
/* Story section----------------- */
.story__wrapper{
    display: flex;
    padding-top: 70px;
    justify-content: space-between;
}

.story__img img{
    width: 235px;
    height: 229px;
    margin-left: 85px;
}

.story__title{
    font-family: 'Playfair Display';
    font-size:22px;
    letter-spacing: 1.1px;
    margin-bottom: 25px;
    font-weight: bold;
}

.story__text{
    opacity: 0.75;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    margin-bottom: 31px;
}

.story__btn{
    margin-bottom:70px
}

/* End of Story block */

/* Video */

.video{
    position: relative;
    background: url('./../img/video-bg.png');
    background-size: cover;
    height:550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video__play{
    width: 100px;
    height: 100px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items:center;
    justify-content: center;
}

.video__play img{
    margin-left: 8px;
}

.video__text{
    position: relative;
    top:80px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.8px;
    font-family: 'Roboto';
    color: #ffffff;
}

.video__overlay{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    justify-content: center;
    align-items:center
}

.video__overlay .close{
    position: relative;
    bottom:15px;
    left:10px;
    color:#ffffff
}

/* End of Video */

/* Expertise */
.expertise__wrapper{
    padding: 71px 0 68px;
    text-align: center;
}

.expertise__title{
    font-size: 22px;
    font-weight: 700;
    color: #413d4b;
    letter-spacing: 1.1px;
    font-family: "Playfair Display";
    margin-bottom: 10px;
}

.expertise__subtitle{
    opacity: .75;
    color: #2f2d35;
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.05px;
    
}
 
.expertise .line{
    background-color: #413d4b;
    margin: 18px auto 48px; 
}

.expertise-content__item{
    padding: 32px;
}

.content-item__img{
    margin-bottom: 35px;
}

.content-item__name{
    color: #413d4b;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    margin-bottom: 25px;
}

.content-item__text{
    opacity: 0.75;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.7px;
}

.expertise__content .row .expertise-content__item:nth-child(1),
.expertise__content .row .expertise-content__item:nth-child(2){
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.expertise__content .row .expertise-content__item:nth-child(3){
    border-bottom: 1px solid #ebebeb;
}

.expertise__content .row .expertise-content__item:nth-child(4),
.expertise__content .row .expertise-content__item:nth-child(5){
    border-right:1px solid #ebebeb
}



/* End of Expertise */

/* Team */

.team{
    background: url('../img/team-bg.png') no-repeat;
    background-size:cover;
    position: relative;
}

.team .overlay{
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
}


.team .container{
    padding: 71px 0 69px;
    position: relative;
    text-align: center;
}


.team__slogan{
    color: #ffffff;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.1px;
    margin-bottom: 10px;
}

.team__subtitle{
    color: #f9f9f9;
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.05px;
    margin-bottom: 18px;
}

.team-line{
    background: #655c80;
    margin: 18px auto 47px;
}

.team__cards{
    margin-bottom: 70px;
    flex-wrap: nowrap;
    justify-content:center
}

.team-cards__item{
    border:1px solid #8a849d;
    padding: 0;
    margin-left: 10px;
}

.team-cards__item:first-child{
    margin-left: 0;
}




.team-cards__photo{
    height: 230px;
    width: 100%;
    background:#fff;
    margin-bottom: 23px;
}

.team-cards__photo img{
    width: 100%;
    height: 100%;
}

.team-cards__name{
    font-family: "Roboto";
    color:#fff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.team-cards__prof{
    opacity: 0.7;
    color: #fafafa; 
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 23px;
}

.team__bottom-subtitle{
    color: #f3f3f3;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
}

.team__btn{
    margin-bottom: 0;
}

/* Works */

.works{
    text-align: center;
}

.works .container{
    padding:50px 0;
    display: flex;
    align-items:center;
    max-width: 970px !important
}

.works__title h2{
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.1px;
}

.works .row{
    margin: 0;
    padding: 0;
}

.works .row:nth-child(3){
    display:none
}

.works-content__item{
    height: 200px;
    background:grey;
    padding: 0;
    overflow: hidden;
}

.works-content__item img{
    height: 100%;
    width: 100%;
}

.works__btn{
    margin: 70px 0;
}

#more-works{
    margin-bottom: 20px;
}

/* End of Works */

/* Testimonials */

.testimonials{
    text-align: center;
    background:url('../img/testimonials-bg.png') no-repeat;
    background-size:cover;
    position: relative;
    width: 100%;
}

.testimonials .container{
    padding: 69px 174px;
}

.testimonials__wrapper{
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.testimonials__contentbox{
    width:100%;

}

.testimonials .slick-track{
    display: flex;
}





.testimonials-content__item{
    width: 100%;
}

.testimonials__text::before{
    content: "\201C";
    font-family: "Playfair Display";
    color: #000;
    font-size: 100px;
    line-height: 22px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
    padding-top: 69px;
    color: #ffffff;
    opacity: 0.9;
}

.testimonials__text{
    opacity: 0.85;
    color: #ffffff;
    font-family: "Playfair Display";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.4px;
    margin-bottom: 52px;
    text-align: center;
}

.person__name{
    color: #ffffff;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.7px;
    margin: 0;
}

.person__prof{
    opacity: 0.7;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 40px;
}

.testimonials-slider__wrapper{
    width: 371px;
    margin: 0 auto;
    position: relative;
}

.testimonials-slider__items{
    width:100%;
    position: relative;
}

.testimonials-slider__item{
    width: 70px;
    height: 70px;
    display: flex;
    align-items:center;
    justify-content: center;
}

.testimonials .slick-arrow{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    font-size: 0;
    width: 20px;
    height: 20px;
    border:none;
}

.testimonials-slider__item.slick-center img{
    width: 70px;
    height: 70px;
    transition: all .2s linear;
}

.testimonials .slick-arrow.slick-next{
    left:102%;
    background  :url('../img/sl-arrow_r.svg') no-repeat;
    background-size: contain;
    
    
}

.testimonials .slick-arrow.slick-prev{
    left:-4%;
    background  :url('../img/sl-arrow_l.svg') no-repeat;
    background-size: contain;
}


.testimonials-slider__wrapper .slick-list{
    overflow: hidden;
    padding: 0 !important ;
}

.testimonials-slider__item img{
    height: 45px;
    width: 45px;
    
}



/* End of testimonials */

/* Form and Clients */

.contact .container{
    padding: 70px 0 ;
    max-width: 970px !important
}

.left form{
    display: flex;
    flex-direction: column;
}

.form__title h2{
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.1px;
    margin-bottom: 35px;
}

.contact-form input, .contact-form textarea{
    margin-bottom: 21px;
    padding-left: 21px;
    width: 460px;
    height: 45px;
    outline: none;
    border:1px solid #e5e5e5
}


.contact-form textarea{
    height: 200px;
    padding-top:15px;
}

.contact-form input[type = 'submit']{
    padding: 0 15px ;
    width: 120px;
    margin: 0;
    border-color: #00e0d0;
}

.clients__title p{
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.1px;
    margin-bottom: 35px;
}

.clients__wrapper .row{
    flex-direction:column;
    height: 409px;
    justify-content: space-between;
}

.clients__item{
    text-align: center;
}
/* End of Contact and Clients --------------- */

/* Footer--------------------- */

footer{
    background: url('../img/footer-bg.png') no-repeat;
    background-size: cover;
    position: relative;
}

footer .container{
    max-width:970px !important;
    padding: 70px 0;
}

.footer-info__logo{
    display: flex;
    margin-bottom: 27px;
}

.footer-info__logo span{
    color: #25beca;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 200;
    margin-left: 11px;
}

.footer-info__text p{
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.35px;
    color: #ffffff;
}

.footer-adress__title span{
    color: #ffffff;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 0.75px;

}

.footer-adress__title{
    padding: 16px 0;
    display: flex;
    align-items:center;
    margin-bottom: 23px;
}

.footer-adress__text::before{
    font-family: 'FontAwesome';
    content: '\f041';
    margin-right: 16px;
    color:#fff;
    font-size:22px
}

.footer-adress__text{
    display: flex;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    letter-spacing: 0.35px;
}

.footer-adress__phone::before{
    content: '\f095 ';
    font-family: 'FontAwesome';
    margin-right: 13px;
    color:#fff;
    font-size:22px
}

.footer-adress__phone{
    display: flex;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    letter-spacing: 0.35px;
    text-decoration: none;

}




.footer-search__title{
    font-family: "Roboto";
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.75px;
    padding: 16px 0;
    display: flex;
    align-items:center;
    margin-bottom: 23px;
    color:#fff;
    font-weight: 500;
    justify-content: center;
}

.footer-search__panel{
    display: flex;
    max-width: 291px;
    width: 290px;

}

.footer-search__panel input{
    margin-right: 10px;
    height: 45px;
    width: 210px;
    outline: none;
    border:1px solid #9e98af;
    background:rgba(0, 0, 0, 0);
    color:#fff;
}

.footer-search__panel input::-webkit-input-placeholder{
    color:#9e97b0
}

.footer-search__panel a{
    padding: 10px 23px;
    background-color: #ffffff;
    opacity: 0.5;
    height: 45px;
}

.footer-search__panel a i{
    padding: 0;
    color:#000;
    opacity: 1;
}

.footer__social{
    display: flex;
    list-style: none;
    justify-content: space-between;
    max-width: 250px;
    margin-top: 27px;
}

.social__link{
    height: 35px;
    width: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: relative;
}

.social__link:hover i{
    color:#00e0d0;
    transition: all .2s linear;
    cursor:pointer
    
}

.social__link:hover{
    border-color: #00e0d0;
    transition: all .2s linear;
}

.social__link i{
    font-size: 15px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-45%);
    color:#fff;
}

.footer__bottom{
    display: flex;
    justify-content:space-between;
    margin-top: 70px;
    position: relative;
}

.footer__links{
    list-style: none;
    display: flex;
    justify-content:space-between;
    max-width: 300px;
    width:300px;
    
    
}

.footer__links li a:hover{
    color:#00e0d0;
}

.footer__links li a{
    color:#fff;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.35px;
    transition: all .2s linear;
    text-decoration: none;
}

.footer__bottom .right span{
    color:#fff;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.35px;
}

/* Popup */

.popup{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    visibility: hidden;
    align-items:center;
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    transition:all .2s linear;
    z-index: 10000000;
}

.popup__close{
    height: 30px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    cursor: pointer;
    transition:all .2s linear;
    position: absolute;
    top:30px;
    right:30px;
}

.popup__close:hover{
    transform: rotate(-360deg) ;
    transform-origin: center;
}

.popup__close span{
    height: 4px;
    width:30px;
    background-color:#fff;
    border-radius:10px;
}

.popup__close span:first-child{
    transform: translate(0, 13px) rotate(-45deg);
}

.popup__close span:last-child{
    transform: translate(0, -13px) rotate(45deg)
}



.popup__content{
    width:40%;
    margin:0 auto;
    padding:20px;
    overflow: hidden;   
}

.popup__form{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    transform: translateY(-110%);
    transition: all .2s ease;
}

.popup__form h2{
    color:#fff;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.popup__form input{
    margin-bottom: 20px;
}

/* UpElem */

.up-elem{
    width: 40px;
    height: 40px;
    background:#000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom:10%;
    right:10%;
    transition:all .2s linear;
    opacity: 0;
    visibility: hidden;
    
}

.up-elem span{
    height: 8px;
    width: 25px;
    background: #fff;
    display: flex;
    justify-content: center;
    
}

.up-elem span:first-child{
    transform: translate(5px) rotate(-45deg);
}
.up-elem span:last-child{
    transform: translate(-6px) rotate(45deg);
}











