*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, 
button:active, 
button:focus {
    outline: none;
}

/* Header */

header{
    background: url('../img/header-bg.png') no-repeat;
    background-size:cover;
    position: relative;
}

.overlay{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    opacity: .75;
}

header .header__navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    margin-bottom: 163px;
}

header .header__logo{
    display: flex;
}

header .header__logo .header-logo__title{
    font-family: 'Roboto', sans-serif;
    width: 73px;
    height: 29px;
    color: #25beca;
    margin-left: 11px;
    font-size: 30px;
    font-weight: 200;
}

header .header__nav ul{
    height: 100%;
    display: flex;
    list-style: none;
    justify-content:space-between;
    align-items: center;
    margin: 0;
}

header .header__nav ul li a {
    width: 526px;
    height: 9px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.33px;
    text-decoration: none;
    transition: all .2s;
    -moz-user-select: none;
    -webkit-user-select: none;
}

header .header__nav ul li a:hover{
    color:#10d3d0;
}

.header__content{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-content__slogan{
    width: 510px;
    height: 31px;
    color: #ffffff;
    font-family: "Playfair Display - Black";
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.32px;
}

.line{
    height: 2px;
    width: 50px;
    
}

.line-header{
    background-color:#00e0d0;
    margin: 10px auto 15px;
}

.header-content__text{
    font-family: 'Roboto', sans-serif;
    width: 771px;
    height: 62px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 50px;
}



.btn{
    padding:10px 15px;
    border: 1px solid #00e0d0;
    text-transform: uppercase;
    color:#00e0d0;
    font-weight: 700;
    background:none;
    margin-bottom: 207px;
    transition: all .2s linear;
    border-radius:0;
}

.btn:hover{
    color:#fff;
    background:#00e0d0;
}

.header__slider{
    width: 100%;
}

.header-slider__wrapper{
    overflow: hidden;
}

.header-slider__inner{
    display: flex;
    justify-content: space-between;
    transition: all 1s; 
}

.header-slider__item{
    width: 100%;
}

.slider__indicators{
    display: flex;
    justify-content: space-between;
    width: 54px;
    margin: 0 auto;
    list-style: none;
}

.slider-indicators__item{
    position: relative;
    bottom:40px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #c2c2c2;
    border-radius: 50%;
}
.slider-indicators__item.active{
    background:#00e0d0;
    border: 1px solid #00e0d0;
}

/* End of Header ---------------- */
/* Story section----------------- */
.story .story__wrapper{
    display: flex;
    padding-top: 70px;
    justify-content: space-between;
}

.story__img img{
    width: 235px;
    height: 229px;
    margin-left: 85px;
}

.story__title{
    font-family: 'Playfair Display';
    font-size:22px;
    letter-spacing: 1.1px;
    margin-bottom: 25px;
}

.story__text{
    opacity: 0.75;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    margin-bottom: 31px;
}

.story button{
    margin-bottom:70px
}

/* End of Story block */

/* Video */

.video{
    position: relative;
    background: url('/src/assets/img/video-bg.png') no-repeat;
    background-size: cover;
    height:550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video__play{
    width: 100px;
    height: 100px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items:center;
    justify-content: center;
}

.video__play img{
    margin-left: 8px;
}

.video__text{
    position: relative;
    top:80px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.8px;
    font-family: 'Roboto';
    color: #ffffff;
}

.video__overlay{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
    justify-content: center;
    align-items:center
}

.video__overlay .close{
    position: relative;
    bottom:15px;
    left:10px;
    color:#ffffff
}

/* End of Video */

/* Expertise */
.expertise__wrapper{
    padding: 71px 0 68px;
    text-align: center;
}

.expertise__title{
    font-size: 22px;
    font-weight: 700;
    color: #413d4b;
    letter-spacing: 1.1px;
    font-family: "Playfair Display";
    margin-bottom: 10px;
}

.expertise__subtitle{
    opacity: .75;
    color: #2f2d35;
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.05px;
    
}
 
.expertise .line{
    background-color: #413d4b;
    margin: 18px auto 48px; 
}

.expertise-content__item{
    padding: 32px 33px 39px 23px;
}

.content-item__img{
    margin-bottom: 35px;
}

.content-item__name{
    color: #413d4b;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.7px;
    margin-bottom: 25px;
}

.content-item__text{
    opacity: 0.75;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0.7px;
}

.expertise__content .row:nth-child(2){
    border-top:1px solid #ebebeb
}

.expertise__content .row .expertise-content__item:nth-child(2){
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

/* End of Expertise */

/* Team */

.team{
    background: url('../img/team-bg.png') no-repeat;
    background-size:cover;
    position: relative;
}

.team .overlay{
    background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
}


.team .container{
    padding: 71px 0 69px;
    position: relative;
    text-align: center;
}


.team__slogan{
    color: #ffffff;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.1px;
    margin-bottom: 10px;
}

.team__subtitle{
    color: #f9f9f9;
    font-family: "Playfair Display";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.05px;
    margin-bottom: 18px;
}

.team-line{
    background: #655c80;
    margin: 18px auto 47px;
}

.team__cards{
    margin-bottom: 70px;
}

.team-cards__item{
    border:1px solid #8a849d
}

.team-cards__photo{
    height: 230px;
    width: 220px;
    background:#fff;
    margin-bottom: 23px;
}

.team-cards__name{
    font-family: "Roboto";
    color:#fff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.team-cards__prof{
    opacity: 0.7;
    color: #fafafa; 
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 23px;
}

.team__bottom-subtitle{
    color: #f3f3f3;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.7px;
}

.team__btn{
    margin-bottom: 0;
}

/* Works */

.works{
    text-align: center;
}

.works .container{
    height: 157px;
    display: flex;
    align-items:center
}

.works__title h2{
    color: #413d4b;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.1px;
}

.works .row{
    margin: 0;
    padding: 0;
}

.works .row:nth-child(3){
    display:none
}

.works-content__item{
    height: 200px;
    background:grey;
    padding: 0;
    overflow: hidden;
}

.works-content__item img{
    height: 100%;
    width: 100%;
}

.works__btn{
    margin: 70px 0;
}

/* End of Works */

/* Testimonials */

.testimonials{
    text-align: center;
    background:url('../img/testimonials-bg.png') no-repeat;
    position: relative;
}

.testimonials__wrapper{
    position: relative;
    width: 780px;
    margin: 0 auto;
}

.testimonials__text::before{
    content: "\201C";
    font-family: "Playfair Display";
    color: #000;
    font-size: 100px;
    line-height: 22px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    margin-bottom: 17px;
    padding-top: 69px;
    color: #ffffff;
    opacity: 0.9;
}

.testimonials__text{
    opacity: 0.85;
    color: #ffffff;
    font-family: "Playfair Display";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.4px;
    margin-bottom: 52px;
}

.person__name{
    color: #ffffff;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.7px;
    margin: 0;
}

.person__prof{
    opacity: 0.7;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 40px;
}

.testimonials__slider{
    display: flex;
    justify-content: center;
    padding-bottom: 69px;
}

.testimonials-slider__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tistimonials-slider__items{
    display: flex;
    justify-content: space-between;
    width: 350px;
    padding: 0 31px;

} 

.testimonials-slider__item{
    border-radius: 50%;
    display: flex;
    align-items:center
}

.testimonials-slider__item img{
    width: 45px;
    height: 45px;
}

.testimonials-slider__item.active img{
    width: 70px;
    height: 70px
}

.testimonials .fa{
    color:#7d7c7e;
    cursor:pointer
}







